@using System;
@using System.IO;
@using InventoryManagement.Data;
@page "/"
@inject NavigationManager Nav

<div class="bg">
<h1>Login</h1>
<label>Username: </label>
<input type="text" @bind="@Username">
<br>
<br>
<label>Password:</label>
<input type="password" @bind="@Password">
<br>
<br>
</div>

<button class="btn btn-primary" @onclick="UserLogin">Log in</button>

@*<p>path: @sFilePath</p>*@
<p>login status: @LoginStatus</p>

@code {
    public string g;
    public string Username { get; set; } = "";
    public string Password { get; set; } = "";

    //string sFilePath;
    public bool LoginStatus = false;
    private void UserLogin()
    {
        string desktopPath = Environment.GetFolderPath(Environment.SpecialFolder.Desktop);
        string appDirectory = Path.Combine(desktopPath, "dotNET\\coursework\\InventoryManagement");
        string file = Path.Combine(appDirectory, "login_credencials.csv");

        //sFilePath = Path.GetFullPath(file);

        UserCredencials obj = new UserCredencials();
        LoginStatus = obj.Login(Username, Password);
        if (LoginStatus)
        {
            Nav.NavigateTo("/home");
        }
    }
}